.card-comment {
    display: flex;
    height: 20rem;
    width: 40rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #27272A;
    padding: 1.5rem;
  }
.icon-comment{
    width: 100px;
    height: 100px;
}
