.text-footer{
    color: #FFD700;

}
.img-footer{
width: 10%;
}
.input-footer{
    // width: 25%;
    padding: 2px;
    background-color: #252525;
    border: 1px solid #737373;
    --tw-ring-color: transparent;
}
.btn-footer {
    background-color: #ffd700 !important;
    border-radius: 30px !important;
    width: 15% !important;

}
.text-input-footer{
    background-color: #252525;
    border-radius: 30px ;

}
