.img-toolbar{
    width: 50px;
}
.text-toolbar{
    font-size: 25px;

}
// .btn-notifications{
//     // color: #ffd700 !important;
//     // background-color: #ffd700 !important;
//     // background: #ffd700 !important;
    // border-radius: 40px !important;
//     // width: 10px !important;
// }
.text-navbar {
    background-color: #000000!important ;
    margin-left: 30px !important;
    // margin-right: 20px !important;
    color: #ffd700 !important;
    margin-top: 8px !important;
    font-size: 15px;
  }
.main-text-toolbar{
    display: flex !important;
}
.btn-login {
    background-color: #252525 !important;
    border-radius: 30px !important;
    color: #ffffff !important;
    font-size: 15px !important;
    width: 130px !important;
    height: 40px !important;
  }

  .btn-register {
    background-color: #ffd700 !important;
    border-radius: 30px !important;
    color: #000000 !important;
    font-size: 15px !important;
    width: 130px !important;
    height: 40px !important;
  }
.test-text{
    justify-content: space-evenly;
}
