.bg-black {
  background-color: #000000;
}
.bg-yellow-500 {
  background-color: #ffd700;
}
.main-content-dashboard {
  background-color: #252525 !important;
}

.content-dashboard {
  @apply bg-[#1D1D1D] p-6 flex items-center justify-center w-64 h-24;
  border-radius: 24px;
}
.content-group-dashboard {
  border-radius: 24px;
}
.main-content {
  background-color: #303030 !important;
  border-radius: 24px !important;
  padding: 15px !important;
}
.main-content-package-product {
  background-color: #303030 !important;
  border-radius: 24px !important;
  padding: 15px !important;
  height: 100%;
}
.rect-step{
  background-color: $color-primary !important;
}
.border-bank-peyment{
  background-color:  transparent;
  // width: 60% !important;
  // height: 60% !important;
  border-radius: 22px;
  // padding: 4px;
  border: 3px solid $color-primary;
}
.unborder-bank-peyment{
  background-color: transparent;
  // width: 60% !important;
  // height: 60% !important;
}
.selected-bank-details{
  border: 1px solid $placeholder;
}
.selected-rq-details{
  border: 1px solid $placeholder;
  padding: 24px;
}
.card-order-details{
  background-color: $main !important;
}
.main-content-admin-dashboard {
  background-color: #252525 !important;
}
.img-background-gogold{
  width: 100% !important;
}
.headline-container {
  font-size: 24px;
  color: $black; /* สีข้อความเริ่มต้น */
}
