.card {
  border: 100px solid hsla(0, 0%, 90%, 0.8);
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 5rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.card-stats {
  @apply bg-gray-900 p-6 rounded-lg flex items-center justify-center w-64 h-24;
}

.icon {
  @apply w-12 h-12;
}

.comment-group{
  background-color: #27272A;
  height: 20rem;
  width: 30rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 100%;
}

.card-comment {
  display: flex;
  height: 20rem;
  width: 40rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #27272A;
  padding: 1.5rem;
}
.icon-comment{
  width: 100px;
  height: 100px;
}
.card-status {
  width: 100%;
  height: 114px;
  background-color: $main-bg;
  border-radius: 24px;
}

.information-cards {
  padding: 15px !important;
  border-radius: 24px !important;
  background-color: #27272a !important;
  color: #ffffff !important;
}
.card-status-crypto{
border-radius: 24px !important;
padding: 16px !important;
background-color: $main-bg !important;
color: $white !important;
font-size: 18px !important;
}
.card-package-ea{
  border-radius: 1rem !important; /* 24px */
  background-color: $main-bg !important;
  color: $white !important;
  font-size: 18px !important;
}

.card-package-details{
  background-color: $main !important;
}
.v-list-package{
  background-color: $headline-bg !important;
}



.tap-package{
  color: $white !important;
  border-radius: 1.5rem  !important;
  // background-color: ;
}


.v-tab {
  background-color: $headline-bg !important; // สีพื้นหลังเริ่มต้นของแต่ละแท็บ
  color: transparent !important;


  &.v-tab--active {
    background-color: #ffcc00 !important;
    color: black ;
  }

  &:hover {
    background-color: $color-primary !important; // สีเมื่อมีการ hover
  }

}
.selected-package{
  &:hover {
    border: 1px solid #ffcc00 !important;
  }
}

.tap-package .v-btn__content{
  color: $white !important;
}

.tap-package .v-tab__slider{
  color: transparent !important;

}
.card-order-summary{
  background-color: $main !important;
  border-radius: 9px !important;
  padding: 15px !important;
  border: 1px solid $placeholder !important;
}
.card-order-payment{
  background-color: rgba(48, 48, 48, 1) !important;
  padding: 16px !important;
  border-radius: 16px !important;
}
.card-bank-peyment{
  background-color: $main !important;
}
