.card {
  border: 100px solid hsla(0, 0%, 90%, 0.8);
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 5rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}

.card-stats {
  @apply bg-gray-900 p-6 rounded-lg flex items-center justify-center w-64 h-24;
}

.icon {
  @apply w-12 h-12;
}

.comment-group{
  background-color: #27272A;
  height: 20rem;
  width: 30rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  width: 100%;
}

.card-comment {
  display: flex;
  height: 20rem;
  width: 40rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: #27272A;
  padding: 1.5rem;
}
.icon-comment{
  width: 100px;
  height: 100px;
}
