.img-toolbar {
  width: 118px;
  height: 49px;
  margin-top:0.2rem;
}
.img-footer{
  width: 10%;
  }
.img-bank-peyment{
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 16px !important;

}
.icon-qr-code{
  width: 209px;
  height: 209px;
}
.img-ea-package-details{
  width: 100% !important;
}
