.img-toolbar {
  width: 118px;
  height: 49px;
  margin-top:0.2rem;
}
.img-footer{
  width: 10%;
  }
.img-bank-peyment{
  width: 60% !important;
  height: 60% !important;
  border-radius: 16px !important;

}
