.img-toolbar {
  width: 118px;
  height: 49px;
  margin-top:0.2rem;
}
.img-footer{
  width: 10%;
  }
.img-bank-peyment{
  width: 5rem !important;
  height: 5rem !important;
  border-radius: 16px !important;

}
.icon-qr-code{
  width: 209px;
  height: 209px;
}
.img-ea-package-details{
  width: 100% !important;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1; /* ปรับค่าความโปร่งใส */
}
.image-container {
  position: relative;
  width: 100%;
  height:100%;
}

.phone-overlay {
  position: absolute;
  bottom: 0;
  right: 10%; /* ปรับตำแหน่งเพื่อให้รูปโทรศัพท์ทับบนกราฟ */
  width: 291px;
  height: 549px;
  top: 35%;
}
.phone-overlay-mobile {
  position: absolute;
  bottom: 0;
  right: 1%; /* ปรับตำแหน่งเพื่อให้รูปโทรศัพท์ทับบนกราฟ */
  width: 71px;
  height: 131px;
  top: 45%;
}
.img-homepage-mobile-guide{
  margin-top: 10px;
}
