.body-home-btn {
  margin-top: 50px !important;
  background-color: #ffd700 !important;
  border-radius: 30px !important;
  color: #000000 !important;
  font-size: 15px !important;
  width: 130px !important;
  height: 40px !important;
}
.body-home-title {
  font-size: 35px;
}
.body-home {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 15px;
}

.navbar-title {
  padding-top: 2rem;
  color: white;
  text-align: center;
  background: #2c2c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
