.mySwiper {
  width: 100%;
  padding: 20px;
}

.img-swiper img {
  width: 100%; /* กำหนดขนาดรูปภาพ */
  height: 100%; /* กำหนดขนาดรูปภาพ */
  border-radius: 10px; /* ปรับขอบมน */
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important; /* สีของปุ่มนำทาง */
  background-color: none; /* สีพื้นหลังปุ่ม */
  border-radius: 30%; /* ปรับปุ่มให้เป็นวงกลม */
  width: 70px !important;
  height: 57px !important;
}
.swiper-pagination {
  display: none; // ซ่อน pagination ทั้งหมด
}
.swiper-pagination-fraction {
  display: none; // ซ่อน pagination แบบ fraction
}
.swiper-pagination-horizontal {
  display: none; // ซ่อน pagination แนวนอน
}
