.table.v-table {
  --v-table-header-height: auto;

  .v-table__wrapper {
    overflow: hidden;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;

    table {
      thead {
        background-color: rgb(var(--v-theme-blue-4));
        justify-content: center;

        th {
          padding-top: 10px;
          padding-bottom: 10px;
          height: auto;
          font-size: 14px;
          border-bottom: 0 !important;
          justify-content: center;
        }
      }

      tbody {
        tr {
          // border-bottom: 1px solid #363636;
          td {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 12px;
            // color: rgb(var(--v-theme-sub));
            border-bottom: 0 !important;
            text-align: center;
            color: #FFFFFF;
            border-bottom: 1px solid #363636;
            background-color: #1D1D1D;
          }
        }
      }
    }
  }

  &.table-warning {
    table {
      thead {
        background-color: rgb(var(--v-theme-yellow-3));

        th {
          text-align: center;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid rgb(var(--v-theme-yellow-5));

          &:nth-child(even) {
            background-color: rgb(var(--v-theme-yellow-4));
          }
        }
      }
    }
  }

  &.table-primary {
    table {
      thead {
        background-color: #404040;

        th {
          text-align: center;
        }

        .v-data-table-header__content {
          color: rgb(var(--v-theme-white));
          justify-content: center;
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid rgb(var(--v-theme-grey));

          &:nth-child(even) {
            color: #FFFFFF;
            background-color: #1D1D1D;
          }
        }
      }
    }
  }
}

.pagination {
  .v-btn--icon.v-btn--density-default {
    display: flex;
      width: 24px;
      height: 26px;
      padding: 3px 9px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
  }

  .v-pagination__list {
    justify-content: center;

    .v-pagination__item .v-btn--icon.v-btn--density-default  {
      border-radius: 15px;
        background-color: #ffffff !important;
    }
  }
}

.search-field .v-field  {
  display: flex;
    width: 180px;
    height: 50px;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    color: #737373;
    border: 1px solid var(--gray, #5C5C5C);
    background: var(--white, #252525);
}
.search-field .v-field__input{
  background-color: #252525;
  color: #737373;
}
.main-table-user{
  border-radius: 24px !important;
  background-color: #1D1D1D !important;
}
.pagination{
  background-color: #1D1D1D !important;
}
.profile-form input{
  --tw-ring-color: transparent !important;
  }

  .table-hp {
    padding: 20px !important;
    color: white !important;
    background: #2c2c2c !important;
    display: flex ;
    flex-direction: column  ;
    justify-content: center;
    min-height: 50vh ;
    align-items: center ;
  }

.table-title {
    color: #737373;
    font-size: 40px;
  }

  .side-text {
    margin-top: 40px;
    // text-align: center;
    color: white;
    width: 80%;
  }

  .side-text h2 {
    font-size: 24px;
    font-weight: bold;
  }

  .side-text ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  .text-success {
    color: green;
  }

  .text-error {
    color: red;
  }

  .highlight-row {
    background-color: #444;
  }
.text-table-name{
    background-color: #444;
    border-radius: 30px 0px 0px 0px;
}
.text-table-gain,.text-table-monthly{
    background-color: #444;
}
.text-table-total{
    background-color: #444;
    border-radius: 0px 30px 0px 0px;
}
.main-table-homepage{
    background-color: #2c2c2c;
}
.text-main-tablehome{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.table-container{
    width: 50%;
}
.table-hp .v-table__wrapper{
    width: -webkit-fill-available;
}
.text-title-content-tablehome{
    font: bolder;
    font-size: 36px;
}
.text-content-tablehome{
    font-size: 15px;

}
.main-table-container{
  width: 100%;
}
.main-table-title{
  color: #737373;
  font-size: 40px;
}

.text-main-table-name{
  background-color: #444;
  border-radius: 30px 0px 0px 0px;
}
.text-main-table-gain,.text-main-table-monthly{
  background-color: #444;
}
.text-main-table-total{
  background-color: #444;
  border-radius: 0px 30px 0px 0px;
}
.main-table-hp{
  background: #2c2c2c !important;
  color: white !important;


}
