h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

.text-navbar {
  color: $white;
  font-size: 15px;
  font-family: "Prompt";
}
// .text-navbar {
//   background-color: $color-secondary !important ;
//   color: #ffd700 !important;
//   font-size: 15px;
// }
.main-text-toolbar {
  border-radius: 35px;
  height: 50px;
  width: 700px;
  display: flex !important;
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: rgb(114, 114, 114) 0px 0px 10px 0px ;
  // background-color: $color-secondary;
}

.test-text {
  justify-content: space-evenly;
}
.text-footer{
  color: #FFD700;

}
.text-white {
  color: #ffffff;
}
.text-yellow-500 {
  color: #ffd700;
}

.text-dashboard {
  color: #ffd700;
  font-size: 15px;
}
