h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 18px !important;
}
h5 {
  font-size: 16px !important;
}
h6 {
  font-size: 14px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

.text-navbar {
  color: $white;
  font-size: 15px;
  font-family: "Prompt";
}
// .text-navbar {
//   background-color: $color-secondary !important ;
//   color: #ffd700 !important;
//   font-size: 15px;
// }
.main-text-toolbar {
  border-radius: 35px;
  height: 50px;
  width: 700px;
  display: flex !important;
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: rgb(114, 114, 114) 0px 0px 10px 0px ;
  // background-color: $color-secondary;
}

.test-text {
  justify-content: space-evenly;
}
.text-footer{
  color: #FFD700;

}
.text-white {
  color: #ffffff;
}
.text-yellow-500 {
  color: #ffd700;
}

.text-dashboard {
  color: #ffd700;
  font-size: 15px;
}
.text-bank-peyment{
  font-size: 24px !important;
}
.main-text-peyment{
  color: $main-text-peyment !important;
}
.text-black-route{
  color: $black !important;
}

.text-white-route{
  color: $white !important;
}
.text-overlay {
  position: absolute;
  top: 62%;
  right: 5%; /* จัดตัวหนังสือชิดขวา */
  transform: translateY(-50%);
  color: #f1c40f; /* สีตัวหนังสือ */
  text-align: right; /* จัดเรียงตัวอักษรให้ชิดขวา */
}
.text-overlay-guide {
  position: absolute; /* ทำให้ overlay อยู่ในตำแหน่งที่เราต้องการ */
  bottom: 0; /* ตำแหน่งที่อยู่ด้านล่าง */
  left: 50%; /* ย้ายไปกลางแนวนอน */
  top: -5%;
  transform: translateX(-50%); /* ปรับตำแหน่งให้ตรงกลาง */
  display: flex;
  flex-direction: column; /* จัดเรียงแนวตั้ง */
  align-items: center; /* จัดให้เนื้อหาอยู่กลาง */
}
/* เมื่อหน้าจอมีขนาดมากกว่า 425px */
@media (min-width: 425px) {
  .text-overlay-guide {
    top: 2%;
  }
}
@media (min-width: 768px) {
  .text-overlay-guide {
    top: -5%;  }
}

// @media (min-width: 1440px) {
//   .text-overlay-guide {
//     position: absolute;
//   bottom: 0;
//   left: 50%;
//   top: -10%;
//   transform: translateX(-50%);
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   }
// }

.text-overlay-guide-details{
  position: absolute; /* ทำให้ overlay อยู่ในตำแหน่งที่เราต้องการ */
  bottom: 0; /* ตำแหน่งที่อยู่ด้านล่าง */
  display: flex;
  padding: 20px; /* เพิ่ม padding ตามต้องการ */
}
.highlight {
  font-family: "Century Gothic";
  font-weight: bold;
  color: #f1c40f;
}
  @media (min-width: 640px) {
    .highlight {
      font-size: 20px;
    }
  }

  /* สำหรับหน้าจอขนาดกลางขึ้นไป */
  @media (min-width: 768px) {
    .highlight {
      font-size: 20px;
    }
  }

  /* สำหรับหน้าจอขนาดใหญ่ขึ้นไป */
  @media (min-width: 1024px) {
    .highlight {
      font-size: 50px;
    }
  }
  @media (min-width: 1270px) {
    .highlight {
      font-size: 80px;
    }
  }

  /* สำหรับหน้าจอขนาดใหญ่มากขึ้นไป */
  @media (min-width: 1750px) {
    .highlight {
      font-size: 96px;
    }
  }
.highlighted-text-mobile{
  color: $black;
  background-color: #ffd700; /* พื้นหลังสีเหลือง */
text-align: center;
font-family: "Century Gothic";
width: 120px;
height: 40px;
font-size: 28px;
font-style: normal;
letter-spacing: 1.2px;
}

.highlighted-text {
  color: $black;
  background-color: #ffd700; /* พื้นหลังสีเหลือง */
text-align: center;
font-family: "Century Gothic";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
letter-spacing: 1.2px;
}
@media (min-width: 425px) {
  .highlighted-text {
    font-size: 28px;
  }
}

/* สำหรับหน้าจอขนาดกลางขึ้นไป */
@media (min-width: 768px) {
  .highlighted-text {
    color: $black;
    background-color: #ffd700; /* พื้นหลังสีเหลือง */
  text-align: center;
  font-family: "Century Gothic";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  letter-spacing: 1.2px;  }
}

// /* สำหรับหน้าจอขนาดใหญ่ขึ้นไป */
// @media (min-width: 1024px) {
//   .highlighted-text {
//     font-size: 30px;
//   }
// }
// @media (min-width: 1270px) {
//   .highlighted-text {
//     font-size: 50px;
//   }
// }
.text-main-homepage {
  font-family: "Century Gothic";
}

/* สำหรับหน้าจอขนาดเล็ก */
@media (min-width: 640px) {
  .text-main-homepage {
    font-size: 16px;
  }
}

/* สำหรับหน้าจอขนาดกลางขึ้นไป */
@media (min-width: 768px) {
  .text-main-homepage {
    font-size: 20px;
  }
}

/* สำหรับหน้าจอขนาดใหญ่ขึ้นไป */
@media (min-width: 1024px) {
  .text-main-homepage {
    font-size: 30px;
  }
}
@media (min-width: 1270px) {
  .text-main-homepage {
    font-size: 50px;
  }
}

/* สำหรับหน้าจอขนาดใหญ่มากขึ้นไป */
@media (min-width: 1750px) {
  .text-main-homepage {
    font-size: 60px;
  }
}


.normal-text {
  color: $white;
}
@media (min-width: 425px) {
  .normal-text {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .normal-text {
    font-size: 40px;
  }
}
.normal-text-mobile {
  color: $white;
}
@media (min-width: 425px) {
  .normal-text-mobile {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) {
  .normal-text-mobile {
    font-size: 40px;
  }
}


.text-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 20px;
}
.text-item-left {
  margin: 20px 0;
  text-align: left;


  // @media (min-width: 640px) {
  // h1 {
  //     font-size: 20px;
  //   }

  //   h4 {
  //     font-size: 16px;
  //   }
  // }

  // @media (min-width: 768px) {
  //   /* สำหรับหน้าจอขนาดใหญ่ (md) ขึ้นไป */
  //   h1 {
  //     font-size: 20px;
  //   }

  //   h4 {
  //     font-size: 16px;
  //   }
  // }

  // @media (min-width: 1024px) {
  //   /* สำหรับหน้าจอขนาดใหญ่มาก (lg) ขึ้นไป */
  //   h1 {
  //     font-size: 20px;
  //   }

  //   h4 {
  //     font-size: 16px;
  //   }
  // }
  // @media (min-width: 1750px){
  //   h1 {
  //     font-size: 30px;
  //   }

  //   h4 {
  //     font-size: 18px;
  //   }
  // }
}
.text-column-right {
  display: flex;
  justify-content: right;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin: 20px;
}
.text-item-right {
  margin: 20px 0;
  text-align: right;
}


.text-item p {
  margin: 5px 0;
  font-size: 1em;
}
