h1 {
  font-size: 28px;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 20px !important;
}
h4 {
  font-size: 18px !important;
}
h5 {
  font-size: 16px !important;
}
h6 {
  font-size: 14px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 16px;
}

.text-navbar {
  color: $white;
  font-size: 15px;
  font-family: "Prompt";
}
// .text-navbar {
//   background-color: $color-secondary !important ;
//   color: #ffd700 !important;
//   font-size: 15px;
// }
.main-text-toolbar {
  border-radius: 35px;
  height: 50px;
  width: 700px;
  display: flex !important;
  background-color: rgba(255, 255, 255, 0.1);
  // box-shadow: rgb(114, 114, 114) 0px 0px 10px 0px ;
  // background-color: $color-secondary;
}

.test-text {
  justify-content: space-evenly;
}
.text-footer{
  color: #FFD700;

}
.text-white {
  color: #ffffff;
}
.text-yellow-500 {
  color: #ffd700;
}

.text-dashboard {
  color: #ffd700;
  font-size: 15px;
}
.text-bank-peyment{
  font-size: 24px !important;
}
.main-text-peyment{
  color: $main-text-peyment !important;
}
.text-black-route{
  color: $black !important;
}

.text-white-route{
  color: $white !important;
}
.text-overlay {
  position: absolute;
  top: 50%;
  right: 5%; /* จัดตัวหนังสือชิดขวา */
  transform: translateY(-50%);
  color: #f1c40f; /* สีตัวหนังสือ */
  text-align: right; /* จัดเรียงตัวอักษรให้ชิดขวา */
}
.text-overlay-guide{
  position: absolute;
  top: 50%;
  transform: translateY(220%);
  color: #f1c40f; /* สีตัวหนังสือ */
  text-align: center;
}
.highlight {
  font-weight: bold;
  color: #f1c40f; /* สีไฮไลท์ */
}
.highlighted-text {
  background-color: #ffd700; /* พื้นหลังสีเหลือง */
  color: black; /* สีตัวอักษรเป็นสีดำ */
  width: 170px !important;
height: 55px !important;
}

.normal-text {
  color: $white;
}
