$black: #000000;
$white: #fff;

$color-primary: #ffd700;
$color-secondary: #27272a;

$primary: #3d90d1;
$info: #2c2c2c;
$success: #6b904d;
$warning: #ffab3b;
$danger: #ff3e22;
$muted: #707070;

$text-base: #737373;
$placeholder: #8C8C8C;
$headline: #004086;
$white: #ffffff;

$banner-danger: #fd4755;
$banner-success: #179bff;
$banner-success-text: #517d2e;

$switch-active: #0e54a2;
$tab-active: #004086;
$headline-bg: #303030;
$main-bg: #1D1D1D;
$main: #252525

