$color-main:#ffd700;
$color-dark:#000000;

$primary: #3D90D1;
$info: #2c2c2c;
$info2: #5FA2FF;
$success: #6B904D;
$warning: #FFAB3B;
$danger: #FF3E22;
$muted: #707070;

$text-base: #707070;
$placeholder: #B5B5B5;
$headline: #004086;
$white: #FFFFFF;

$banner-danger: #FD4755;
$banner-success: #179BFF;
$banner-success-text: #517D2E;

$switch-active: #0E54A2;
$tab-active: #004086;
$headline-bg: #FB5135;
$main-bg: #E3E8EB;



.color-main{
    background: $color-main !important;
}

.color-dark{
    background: $color-dark !important;
    color: #ffd700 !important;
}

.color-info{
    background: $info !important;
}

// .container{
//     background-color: #2c2c2c;
// }
