$color-main: #ffd700;
$color-dark: #000000;

$primary: #3d90d1;
$info: #2c2c2c;
$info2: #5fa2ff;
$success: #6b904d;
$warning: #ffab3b;
$danger: #ff3e22;
$muted: #707070;

$text-base: #707070;
$placeholder: #b5b5b5;
$headline: #004086;
$white: #ffffff;

$banner-danger: #fd4755;
$banner-success: #179bff;
$banner-success-text: #517d2e;

$switch-active: #0e54a2;
$tab-active: #004086;
$headline-bg: #fb5135;
$main-bg: #e3e8eb;

// .container{
//     background-color: #2c2c2c;
// }
