body {
  font-family: 'Prompt' sans-serif;
}

.font-Prompt {
  font-family: 'Prompt' sans-serif !important;
}

h1 {
  font-size: 24px;
  color: #ffffff;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
}

// p,
// input,
// select {
//   font-size: 12px;
//   color:#ffffff;
// }


.text-primary {
  color: #ffffff;
}

.text-info {
  color: #ffffff;
}

.text-warning {
  color: #ffffff;
}


.text-danger {
  color: #ffffff;
}

.text-muted {
  color: #ffffff;
}

.text-headline {
  color: #ffffff;
}

.text-placeholder {
  color: #ffffff;
}
.text-main-table{
color: #ffffff;
font-size: 20px;
}
