$primary-dark-blue: #002461;
$primary-header:rgba(0, 36, 97, 1);

$primary: #3D90D1;
$info: #30384C;
$info2: #5FA2FF;
$success: #6B904D;
$warning: #FFAB3B;
$danger: #FF3E22;
$muted: #707070;

$text-base: #707070;
$placeholder: #B5B5B5;
$headline: #004086;
$white: #FFFFFF;

$banner-danger: #FD4755;
$banner-success: #179BFF;
$banner-success-text: #517D2E;

$switch-active: #0E54A2;
$tab-active: #004086;
$headline-bg: #FB5135;
$main-bg: #E3E8EB;
